@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
body{
    margin: 0; 
    min-height: 100vh; 
    overflow-x: hidden;
    overflow-y: hidden;
    background: linear-gradient(to bottom , #f5f4f4,#d3cece); 
}
.tinybox{
    width: 250px;
    height: 25.77777862548828px; 
    border-radius: 3px;
    display: flex;
    margin-top: 77px;
    transform: translateX(80px);
    
}
.rectangles{
    position: relative;
    top: 0;  /* Remove any top positioning */
    display: flex;
    align-items: center;
}
.r1 { 
    position: relative;
    z-index: 3;
} 
.r2 { 
    position: relative;
    z-index: 2; 
    right: 11px;
    top: 0px;
} 
.r3 { 
    position: relative;
    z-index: 2; 
    left: 10px;
    top: 0px;
}
.CMP{
    width: 300px;
    height: 24px;
    top: 78.39px;
    left: 119px;
    font-family: 'SF Pro Display', sans-serif;                                      
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: #272727;
    word-spacing: 3px;
    transform: translateY(-14px);
}
.Download{
    font-family: 'SF Pro Display', sans-serif;  
    font-weight: 500;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    word-spacing: 5px;
    transform: translateX(80px);
}
.ten{
    font-family: 'SF Pro Display', sans-serif;  
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    transform: translateX(80px);
}
.mediumbox{
    background-color:#FFFFFF ;
    width: 289px;
    height: 270px;
    top: 460px;
    margin: 70px;
    transform: translateY(130px);
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.subbox{
    Width: 231px;
    Height: 46px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    padding: 10px;
    background-color: #272727;
    color: #FFFFFF;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
.commonbox{
    padding: 30px;
}
.subbox1{
    background-color:#edeaea;
    Width: 231px;
    Height: 46px;
    border-radius: 10px;
    border:none;
    cursor: pointer;
    padding: 10px;
    color: #272727;
    font-family: SF Pro Display;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
.twobuttons{
    width: 267px;
    height: 36px;
    transform: translateX(1100px);
    display: flex;
    gap: 10px;
    position: absolute;
    top: -380px;  
    right: 50px;
}
.Examples{
   width: 127px;
   height: 36px;
   font-family: SF Pro Display;
   font-weight: 500;
   font-size: 14px;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: center;
   border: none;
   background-color:#E9E9E9 ;
   color: #272727;
   border-radius: 10px;
   cursor: pointer;
}
.Contact{
   width: 127px;
   height: 36px;
   font-family: SF Pro Display;
   font-weight: 500;
   font-size: 14px;
   line-height: 100%;
   letter-spacing: 0%;
   text-align: center;
   color: #FFFFFF;
   border: none;
   background-color: #272727;
   border-radius: 10px;
   cursor: pointer;
   
}
.aday{
    font-family: SF Pro Display;
    font-weight: 300;
    font-size: 13px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: right;
    color:#272727 ;
    transform: translateX(-80px);
    position: absolute;
    top: 100px;  
    right: 30px;
}
.bigbox1{
    Width: 622px;
    Height: 336px;
    background-color:#FFFFFF ;
    padding:40px;
    transform: translateX(-75px);
    position: absolute;
    top: 195px;  
    right: 30px;
}
.Minimal{
    color:#959595 ;
    font-family: SF Pro Display;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.Standard{
    color:#272727 ;
    font-family: SF Pro Display;
    font-weight: 600;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
}
.Unlock1{
   background-color: #272727;
   border-radius: 5px;
   Width: 135px;
   Height: 35px;
   color:#FFFFFF ;
   cursor: pointer;
   position: absolute;
   top: 50px;  
   right: 50px;
   
}
.pic{
   Width: 620px;
   Height: 265px;
   border-radius: 5px;
}
.bigbox2{
    Width: 622px;
    Height: 336px;
    background-color:#FFFFFF ;
    padding:40px;
    transform: translateX(-75px);
    position: absolute;
    right: 30px;
    top: 630px;
}
.Stilized{
    color:#959595 ;
    font-family: SF Pro Display;
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    letter-spacing: 0%;
}
.Unlock2{
   background-color: #272727;
   border-radius: 5px;
   Width: 131px;
   Height: 28px;
   color:#FFFFFF ;
   cursor: pointer;
   position: absolute;
   top: 50px;  
   right: 50px;
} 
