@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
.frame2{
  background-color: #E0E4EB;
  width: 686px;
  height: 424px;
  transform: translateY(135px);
}
.table{
  width: 602px;
  height: 350px;
  border-color: white;
  transform: translateY(37px);
}
.table td{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: Light;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;  
  color: #454B54;
}
.table th{
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  color: #8F97A3;
}
thead th {
  border-bottom: 2px solid #E0E4EB !important;
}

.form-check-input{
  width: 18px;
  height: 18px;
  background-color: #ffffff;
  color: white;
  border: 2px solid #E0E4EB;
  border-radius: 4px;
  transform: translateX(25px);
}
.form-check-input:checked {
  width: 18px;
  height: 18px;
  background-color: #5C8DD6;
  color: white;
  border: 2px solid#1F437A;
  border-radius: 4px;
}
.form-check-input:hover {
    box-shadow: none;
    cursor: pointer;
}
.form-check-input:focus {
    box-shadow: none;
}
button{
  border: none;
  background-color: white;
  width: 24px;
  height: 24px;
}
.img{
  width: 24px;
  height: 24px;
  transform: translateX(40px);
}
img{
  width: 8px;
  height: 8px;
  transform: translateX(-7px); 
}