@import url('https://fonts.cdnfonts.com/css/sf-pro-display');
body{
  margin:0;
  overflow:hidden;
  font-family:'SF Pro Display',sans-serif;
  background-color:#000000;
}
.bigdiv{
  display: flex;
  width: 100wv;
}
.smalldiv{
  display: flex;
  padding: 10px;
  gap: 65px;
  transform: translateX(390px);
}
.Fut{
 font-weight: 700;
 font-style: Bold;
 font-size: 30px;
 line-height: 114.99999999999999%;
 letter-spacing: 0%;
 text-transform: uppercase;
 color: #fff;
 transform: translateX(70px);
}
h4{
 font-weight: 350;
 font-style: Medium;
 font-size: 20px;
 line-height: 114.99999999999999%;
 letter-spacing: 0%;
 text-transform: uppercase;
 color: #fff;
}
.Sub{
  Width:182px;
  height: 69px;
  border-radius: 10px;
  border-width: 1px;
  background-color: #282828;
  cursor: pointer;
  border: none;
  color: #fff;
  font-weight: 350;
  font-size: 20px;
  line-height: 114.99999999999999%;
  letter-spacing: 0%;
  transform: translate(650px, 10px);
}
.Sub:active{
  background-color: #1c1b1b;
  color: #b5b2b2;
}
h1{
  font-weight:400;
  font-size:40px;
  text-align:center;
  color:#BABABA;
  transform: translateY(-20px);
}
.slidercontainer{
  position:relative;
  width:85%;
  max-width:1300px;
  margin:40px auto;
  transform: translateY(-75px); 
}
.slidertrack{
  display:flex;
  align-items:center;
  padding:20px 40px;
  gap: 20px;
  transition:transform 2s cubic-bezier(0.25, 0.46, 0.45, 0.94);

}
.bigcard{  
  flex:0 0 auto;        
  width: 700px;         
  height:440px;
  background:#101010;
  border-radius:30px;
  display:flex;
  padding: 30px;
  overflow: hidden;  
  transition: transform 0.7s ease, opacity 0.6s ease, filter 0.6s ease;
}
.bigcard.near{
  opacity:0.;
  transform:scale(0.7);  
  filter: blur(10px) grayscale(100%);
}
.person{
  width:350px;
  height:475px;
  transform: translate(-30px,5px);
}
.textbox{
  width: 620px;
  height: 320px;
  color:#fff;
  transform: translate(-7px, 90px);
}
h2{
  font-weight:500;
  font-size:40px;
  margin:0 0 12px 0;
  color:#fff;
}
.highlight{
  font-weight:450;
  font-size:35px;
  color:#ddd;
}
p{
  font-weight: 400;
  font-style: Regular;
  font-size: 15px;
  line-height: 151%;
  letter-spacing: 0%;
  color:#868686;
}
.LinkedIn{
  width:90px;
  height:26px;
}
.arrow{
  position:absolute;
  top:50%;
  transform:translateY(-50%);
  background:#101010;
  color:#BABABA;
  border:none;
  width:46px;
  height:46px;
  border-radius:50%;
  cursor:pointer;
  display:flex;
  align-items:center;
  justify-content:center;
  font-size:22px;
}
.arrow.left{ 
  left:12px;
 }
.arrow.right{ 
  right:12px; 
}
.arrow:hover{ 
background:#2a2727; 
color:#fff; 
}