@import url('https://fonts.googleapis.com/css2?family=Poller+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body{
    overflow: hidden;
}
.screen{
    width: 393px;
    height: 700px;
    background-color: white;
    overflow: hidden;
}
.ellipse{
    background-color: #0B8258;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    animation: ellipseanim 3s ease-in-out forwards;
    
}
h2{
    font-family: "Poller One", sans-serif;
    font-size: 60px;
    font-weight: 400;
    position: absolute;
    z-index: 1;
    left: 660px;
    animation: textanim 2.5s ease-in-out forwards;
    top: 250px;
}
button{
    width: 312px;
    height: 81px;
    box-shadow: 5px 5px 11px rgb(104, 104, 104);
    border: none;
    font-size: 35px;
    letter-spacing: 2px;
    color: white;
    font-family: "Inter", sans-serif;
    border-radius: 12px;
    background-color: #0B8258;
    position: absolute;
    animation: buttonanim 3s ease-in-out forwards;
    left: 610px;
}

button:hover{
    background-color: #0e9465;
    box-shadow: 8px 8px 15px rgb(167, 167, 167);
    cursor: pointer;
}


@keyframes ellipseanim {
    0% {
    }
    15% {
    transform: translateY(450px); 
    width: 100px;
    height: 100px;
    }
    20% {
    transform: translateY(210px);
    width: 100px;
    height: 100px;
    }
    25%{
    transform: translateY(380px);
    width: 100px;
    height: 100px;
    }
    30%{
    transform: translateY(180px);
    width: 100px;
    height: 100px;
    }
    35% {
    transform: translateY(180px);
    width: 300px;
    height: 300px;
    }
    40% {
    transform: translateY(180px);
    width: 250px;
    height: 250px;
    }
    45% {
    transform: translateY(180px);
    width: 300px;
    height: 300px; 
    }
    50% {
    transform: translateY(180px);
    width: 250px;
    height: 250px;
    }
    55% {
    transform: translateY(180px);
    width: 300px;
    height: 300px; 
    }
    50% {
    transform: translateY(180px);    
    width: 300px;
    height: 300px; 
    }
    60% {
    transform: translate(-380px,-100px);
    width: 1200px;
    height: 1200px;
    }
    85%{
    transform: translate(-290px,-475px);
    width: 1000px;
    height: 1000px;
    }
    100%{
    transform: translate(-290px,-475px);
    width: 1000px;
    height: 1000px;
    }
}
@keyframes textanim{
    0% {
        color: #0B8258;
        
    }
     45% {
       color: #0B8258;
    }
    50% {
       color: #ffffff;
    }
    100% {
        color: rgb(255, 255, 255);
    }
}

@keyframes buttonanim{
   0% {
        opacity: 0;
        top: 800px;
    }
    45% {
        opacity: 0;
        top: 800px;
    }
    100% {
        opacity: 1; 
        top: 580px;
    }
}