@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{ 
   
   background-color:#27262C ;
   background-image: url("images/Group 4.png");
   background-size: 100% 100%;                   
   height: 100vh;
   width: 100vw;
   margin: 0;
}
.box{
    width: 531px;
    height: 482px;
    position: relative;
    overflow: hidden;
    transform: translate(450px, 100px);
}
.LOGIN{
    font-size: 96px;
    color: white;
    font-weight: 900;
    font-style: italic;
    font-family: "Roboto", sans-serif; 
    letter-spacing: 0;
    line-height: 100%;
    width: 269px;
    height: 113px;
    transform: translateY(-45px);
}
.login{
    background-color: #3b3dd3; 
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: 400;
    font-style: normal;
    font-family:"Roboto", sans-serif ;
    line-height: 100%;
    letter-spacing: 0;
    border: none;
    width: 531px;
    height: 48px;
    cursor: pointer;
    transform: translateY(70px); 

}
.login:hover{
    background-color: #36379f;
}
input[type="password"],
input[type="text"] {
  background-color: transparent;
  border: none; 
  border-bottom: 2px solid #ccc;
  outline: none;
  width: 531px;
  height: 28px;
} 
::placeholder{
    font-family: "Roboto", sans-serif;
    padding-bottom: 10px;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0;
    color: #999999;
}   